user root;
worker_processes 4;

error_log /var/log/nginx/error.log warn;
pid       /var/run/nginx.pid;

events {
    worker_connections 4096;
}

http {
    include    /etc/nginx/mime.types;
	default_type application/octet-stream;
	log_format  main  ' - [] "" '
	                  '  "" '
					  '"" ""';

	access_log /var/log/nginx/access.log main;
    
    sendfile    on;
    tcp_nopush  on;
    keepalive_timeout 65;

    server {
        listen 8888;
		
        location /file-server-1	{
            proxy_pass http://file-server-1:8080;     # Pass to container by name
            rewrite ^/file-server-1/(.*) / break;     # Remove prefix  /web-server-1
        }

        location /file-server-2 {
            proxy_pass http://file-server-2:8080;
            rewrite ^/file-server-2/(.*) / break;
        }
    }
}	